<!DOCTYPE html>
<html>
  <head>
    <% include ../partials/head %>
  </head>
  <body>
    <header><% include ../partials/header %></header>
    <main>
      <div class="jumbotron">
        <h1>Detail</h1>
        <div class="products">
          <div class="product-item">
            <% photos.forEach(function(item){ %>
            <div class="card">
              <img
                class="card-img-top"
                src="<%= item.url %>"
                alt="Card image cap"
              />
              <div class="card-body">
                <h5 class="card-title">Name: <%= item.title %></h5>
                <p class="card-text">Price: <%= item.albumId %></p>
              </div>
            </div>
            <% }) %>
          </div>
        </div>
      </div>
    </main>

    <% include ../partials/scripts.ejs %>
  </body>
</html>
