<!DOCTYPE html>
<html>
  <head>
    <% include ../partials/head %>
  </head>
  <body>
    <header><% include ../partials/header %></header>
    <main>
      <div class="jumbotron">
        <h1>Detail</h1>
        <% if (photo) { %>
        <div class="card">
          <img
            class="card-img-top"
            src="<%= photo.url %>"
            alt="Card image cap"
          />
          <div class="card-body">
            <h5 class="card-title">Name: <%= photo.title %></h5>
            <p class="card-text">Price: <%= photo.albumId %></p>
          </div>
        </div>
        <% } %>
      </div>
    </main>

    <% include ../partials/scripts.ejs %>
  </body>
</html>
