<!DOCTYPE html>
<html>
  <head>
    <% include ../partials/head %>
  </head>
  <body>
    <header><% include ../partials/header %></header>
    <main>
      <div class="jumbotron">
        <h1>User register</h1>
      </div>
    </main>

    <% include ../partials/scripts.ejs %>
  </body>
</html>
