<!DOCTYPE html>
<html>
  <head>
    <% include ../partials/head %>
  </head>
  <body>
    <header><% include ../partials/header %></header>
    <main>
      <div class="jumbotron">
        <h1>Products</h1>
        <div class="controls-container">
          <a href="/products/add">Add new</a>
        </div>
        <div class="products">
          <div class="product-item">
            <% products.forEach(function(item){ %>
            <div class="card">
              <img
                class="card-img-top"
                src="<%= item.image %>"
                alt="Card image cap"
              />
              <div class="card-body">
                <h5 class="card-title">Name: <%= item.name %></h5>
                <p class="card-text">Price: <%= item.price %></p>
                <p class="card-text">Created by: <%= item.createdBy.email %></p>
                <a href="#" class="btn btn-primary">Add to card</a>
              </div>
            </div>
            <% }) %>
          </div>
        </div>
      </div>
    </main>

    <% include ../partials/scripts.ejs %>
  </body>
</html>
