<!DOCTYPE html>
<html>
  <head>
    <% include ../partials/head %>
  </head>
  <body>
    <header><% include ../partials/header %></header>
    <main>
      <div class="jumbotron">
        <h1>Products</h1>
        <div class="products">
          <div class="product-item">
            <% products.forEach(function(item){ %>
            <div class="card">
              <img class="card-img-top" src="" alt="Card image cap" />
              <div class="card-body">
                <h5 class="card-title"><%= item.name %></h5>
                <p class="card-text"><%= item.price %></p>
                <a href="#" class="btn btn-primary">Add to card</a>
              </div>
            </div>
            <% }) %>
          </div>
        </div>
      </div>
    </main>

    <% include ../partials/scripts.ejs %>
  </body>
</html>
